[submodule "bulma-timeline"]
	path = bulma-timeline
	url = https://wikiki@github.com/Wikiki/bulma-timeline.git
[submodule "bulma-steps"]
	path = bulma-steps
	url = https://wikiki@github.com/Wikiki/bulma-steps.git
[submodule "bulma-badge"]
	path = bulma-badge
	url = https://wikiki@github.com/Wikiki/bulma-badge.git
[submodule "bulma-tooltip"]
	path = bulma-tooltip
	url = https://wikiki@github.com/Wikiki/bulma-tooltip.git
[submodule "bulma-pageloader"]
	path = bulma-pageloader
	url = https://wikiki@github.com/Wikiki/bulma-pageloader.git
[submodule "bulma-ribbon"]
	path = bulma-ribbon
	url = https://wikiki@github.com/Wikiki/bulma-ribbon.git
[submodule "bulma-divider"]
	path = bulma-divider
	url = https://wikiki@github.com/Wikiki/bulma-divider.git
[submodule "bulma-calendar"]
	path = bulma-calendar
	url = https://wikiki@github.com/Wikiki/bulma-calendar.git
[submodule "bulma-switch"]
	path = bulma-switch
	url = https://wikiki@github.com/Wikiki/bulma-switch.git
[submodule "bulma-checkradio"]
	path = bulma-checkradio
	url = https://wikiki@github.com/Wikiki/bulma-checkradio.git
[submodule "bulma-slider"]
	path = bulma-slider
	url = https://wikiki@github.com/Wikiki/bulma-slider.git
[submodule "bulma-pricingtable"]
	path = bulma-pricingtable
	url = https://wikiki@github.com/Wikiki/bulma-pricingtable.git
[submodule "bulma-quickview"]
	path = bulma-quickview
	url = https://wikiki@github.com/Wikiki/bulma-quickview.git
[submodule "bulma-iconpicker"]
	path = bulma-iconpicker
	url = https://wikiki@github.com/Wikiki/bulma-iconpicker.git
[submodule "bulma-accordion"]
	path = bulma-accordion
	url = https://wikiki@github.com/Wikiki/bulma-accordion.git
[submodule "bulma-tagsinput"]
	path = bulma-tagsinput
	url = https://wikiki@github.com/Wikiki/bulma-tagsinput.git
[submodule "bulma-carousel"]
	path = bulma-carousel
	url = https://wikiki@github.com/Wikiki/bulma-carousel.git
[submodule "bulma"]
	path = bulma
	url = https://wikiki@github.com/jgthms/bulma.git
